body {
  font-family:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  /*background: #b6dde8;*/
  text-align: center;
}

h1
{
    font-family: Edwardian Script ITC;


}

h2 {
    font-family: Edwardian Script ITC;
    text-align: left;
}

.username {
    font-family: Times New Roman;
    font-size: 22px;
}
.coursename {
    font-family: Times New Roman;
    font-size: 20px;
}


.noprint {
    visibility: hidden;
}

h3 {
    font-family: Edwardian Script ITC;
    display: inline;
}

#content {
    width: 700px;
    background: #b6dde8;
    margin-left: auto;
    margin-right: auto;
}
